body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e84c3d
    ; 
    color: white;           
    padding: 15px;        
    display: flex;         
    justify-content: space-between; 
    align-items: center;   
}

.logo h1 {
    margin: 0;             
}

nav ul {
    list-style: none;     
    margin: 0;             
    padding: 0;            
    display: flex;        
}

nav ul li {
    margin-left: 20px;     
}
#intro{

justify-content: center;
text-align: center;
display:flex;
padding: 40px;


}
.introduction-Text h1
{
    size:2.5rem;
 color:  #e84c3d
}